.isSortable .sortItem { 
	background: #e0e0e0;
	border: 1px solid #d0d0d0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	margin: 0 0 3px;
	clear: both;}

ul .isSortable .sortItem {	/* top level items */
	background: #DFDFDF url("../../../../../wp-admin/images/gray-grad.png") repeat-x left top;
	border-color: #d0d0d0;}
	
ul .isSortable .sortItem td strong { display:inline-block; padding:0 0 3px }

ul li ul .isSortable .sortItem {	/* nested items  */
	background: #f2f2f3;
	border-color: #e2e2e3;}

.menu-item .sortItem .handle,
.slide-item .sortItem .handle {
	width: 116px;
	cursor: move;
	vertical-align: top;}
	
.menu-item .sortItem .handle div,
.slide-item .sortItem .handle div {
	float: left;
	width: 116px;
	height: 130px;
	background: transparent url("../images/menu-move.png") no-repeat center center;
	margin: 0 0 0 0.25em;}


.helper {
	border: 2px dotted #B0D0F7;
	background: #EAF2FA;}
	
.themeTableWrapper td .menu-item table td,
.themeTableWrapper td .slide-item table td {padding: 2px; vertical-align: middle; border: 0;}
	
.themeTableWrapper td .menu-separator table td {padding: 0; vertical-align: middle; border: 0;}

.sortItem { position:relative; }

.sortItem label { line-height:2.3em; color: #777; }
.sortItem label.checked { line-height:2.3em; color: #000; }

.sortItem .mm-Title, .sortItem .mm-Description { width: 170px;}
.sortItem .ss-Image { width: 270px; }
.sortItem .ss-ImageDesc { width:507px; height:66px; margin:0 0 2px }
.sortItem .ss-ImageTitle { width:507px; height:auto; margin:0 0 2px }
.sortItem .ss-ImageSample { width:185px; height:130px; position:absolute; top:15px; right:15px; }

.sortItem .mm-Link,
.sortItem .ss-Link { 
	display:none; 
	width:170px; }

.sortItem .delete-item { text-align: center; width: 60px; margin: 0 5px 0 0; }

div ul#MainMenu li.menu-separator .sortItem {	/* separator */
	background: #ccc;
	border-color: #bbb;}
.menu-separator .handle,
div ul#MainMenu li.menu-separator .sortItem .handle {
	width: auto;
	text-align:center;
	cursor: move;}
